<!DOCTYPE html>    
{% extends "base.html" %} 

{% block content %} Contact {% endblock %}
<html> 
<head>    
    <title>Contact</title>    
    <link rel="stylesheet" href="about.css">    
</head>
<body>  
    <h1>Contact</h1> 
    <div class="container"> 
    <div class="details"> 
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores, obcaecati suscipit! Itaque unde deserunt distinctio tempora ad minima reprehenderit quia necessitatibus magni ex inventore natus placeat, quasi pariatur repudiandae porro!
    </div> 
    </div>
</body>    
</html>