body  
{  
    margin: 0;  
    padding: 0;  
    background-color:#c1b1de;  
    font-family: 'Serif';  
    background-image: url('C:\\Users\\ashim\\Downloads\\bg_login.png');
    background-size: cover;
}  
.login{  
        width: 382px;  
        overflow: hidden;  
        margin: auto;  
        margin: 20 0 0 450px;  
        padding: 80px;  
        background: #2d5e9f;  
        border-radius: 10px ;  
        border-style: solid;
        border-width: thick;
          
}  
h1{  
    text-align: center;  
    color: #04060f;  
    padding: 20px;  
}  
label{  
    color: #d3f053;  
    font-size: 19px;  
}  
#Uname{  
    width: 300px;  
    height: 30px;  
    border: none;  
    border-radius: 3px;  
    padding-left: 10px;  
}  
#Pass{  
    width: 300px;  
    height: 30px;  
    border: none;  
    border-radius: 3px;  
    padding-left: 10px;  
      
}  

span{  
    color: #afb3b4;  
    font-size: 14px;  
}  
a{  
    float: right;  
    background-color: #e3ecef; 
    border: none;  
    border-radius: 3px;   
    padding-left: 10px;  
    padding-right: 10px;  
}  
