{% extends "base.html" %} 

{% block title %}About{% endblock %}

{% block link%}
<link rel="stylesheet" href="../static/css/about.css">
{% endblock %}

{% block content %} 
<div class="body">
    <div class="container">
        <h1>Our Purpose</h1>
        <h5>Many students don't bother to submit the found items to the ‘Lost & Found department, which is why the number of lost items reported is way higher than the number of items found. Our model makes the process easier by bypassing that particular step. In the former model, many emails were left unread and were dismissed due to the daily flooding of 'Lost & found' emails. In our model, users don't need to check or maintain emails constantly, if they find an item, they need to upload its photo and details; the rest is taken care of by our AI, which uses image recognition.  Also, our application deletes emails after ten days, frees up space, and further avoids management problems. The goal of this project is to design a Lost and Found website interface so that students can find their lost items more quickly and efficiently.
        </h5>
    </div>
    <div class="container">
        <h1>Vision Statement</h1>
        <h5>This venture can be extended from our university campus to other universities as the same mechanism can be reused. This system can also be modified to become a mobile application so that students can post or search for the item from their phones too. More functionalities such as user display activity and reporting lost items can also be implemented to make the interface even more user-friendly. The ML technology can be improved such that the students can be directed to a page only with results relevant to their application form.</h5>
    </div>
</div>
{% endblock %}