{% extends "base.html" %} 

{% block link %}
<link rel="stylesheet" href="../static/css/about.css">
{% endblock %}
{% block title %}Contact{% endblock %}
{% block content %} 
<div class="body">
    <div class="container">
        <h1>Our Team</h1>

        <h5>
            <a href="https://www.linkedin.com/in/aditya-kalhan">Aditya Kalhan</a>: akalhan_be20@thapar.edu <br>
            <a href="https://www.linkedin.com/in/ashima-mathur">Ashima Mathur</a>: amathur_be20@thapar.edu <br>
            <a href="https://www.linkedin.com/in/himangi-s-46a0751b6"> Himangi Sharma</a>: hsharma_be20@thapar.edu <br>
            <a href="https://www.linkedin.com/in/vyom-kapur-5988b5205/">Vyom Kapur</a>: vkapur_be20@thapar.edu <br>
        </h5>
        
    </div>
   

</div>

{% endblock %}