{% extends "base.html" %}

{% block title %} Item Lost {% endblock %}
{% block content %}
<div class="container">
    <form action="/submit/lost" method="POST" enctype="multipart/form-data" onsubmit = "return(validateForm());">
    <div class="row center align-items-center m-2">
        <label for="item-lost">Enter name of item lost</label>
        <input type="text" name="item-name" id="name"> <br>
        <label for="description-lost">Enter description of item lost</label>
        <textarea name="description-lost" cols="30" rows="10" id="desc"></textarea><br>
        <label for="location-lost">Enter last known location lost</label>
        <input type="text" name="location-lost" id="location"> <br>
        <label for="image-lost">Upload picture</label>
        <input type="file" name="image-lost"> <br>
        <p id="error"></p>
        <button type="Submit">Submit Lost Request</button>
    </div>
    </form>
</div>

<script>
    p = document.getElementById('error')
    p.innerHTML = ""
    function validateForm() {
        if (document.getElementById('name').value == "" || document.getElementById('desc').value == "" || document.getElementById('location').value == ""){
            p.innerHTML = "Fields must not be blank"
            return false;
        }
        return ( true );
    }
</script>
{% endblock %}