{% extends "base.html" %}

{% block content %}
<form action="submit/signup" method="POST" name="signup-form">
    <label for="username">Create your Username: </label>
    <input type="text" name="username" id="user"> <br>
    <label for="email">Enter your Thapar Email Id: </label>
    <input type="text" name="email" id="email"> <br>
    <label for="username">Create your Password: </label>
    <input type="password" name="password" id="pass"> <br>
    <label for="remember-me">Remember Me?</label> 
    <input type="checkbox" name="remember-me" id="remember"> <br>
    <p class="error error--hidden"></p>
    <button type="Submit">Sign Up!</button>
</form>

{% endblock %}